.student-section {
  padding: 80px 0 150px;
}

.title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 80px;
}

.list {
  display: flex;
  gap: 32px;
}