<section class="main-screen">
  <div class="container">
    <div class="wrapper">
      <div class="left-block">
        <img src="/assets/images/main-image.jpg" alt="Main Image">
      </div>
      <div class="right-block">
        <app-mini-title title="About Us" />
        <h1 class="title">E-Learning Platform for Digital Skills</h1>
        <p class="descr">
          Empower yourself with the knowledge and skills gained through online
          education! The key to your future! Empower yourself with the knowledge
          and skills gained through online education! The key to your future!
        </p>
        <app-button title="Learn More" class="btn" />
      </div>
    </div>
  </div>
</section>